h1, h2 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: bold;
    color: #4aaaa5;
    border-bottom: 3px solid #dddddd;
}

h1 {
    font-size: 2em;
    padding-bottom: 40px;
    margin-bottom: 20px;
}

h2 {
    font-size: 1.3em;
    padding-bottom: 25px;
}

header {
    width: 100%;
    background-color: white;
    border-bottom: 4px solid #cccccc;
    font-family: 'Georgia', Times, Times New Roman, serif;
    margin-bottom: 40px;
}

#myName {
    height: 77px;
    line-height: 77px;
    background-color: #4aaaa5;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    color: #ffffff;
}

nav {
    height: 76px;
    float: right;
    background-color: white;
}

.navButton {
    display: inline-block;
    height: 100%;
    line-height: 80px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 1.1em;
    text-align: center;
}

a {
    color: #777777;
    text-decoration: none;
}

#bodyContent {
    width: 960px;
    margin: 0 auto; 
}

#mainContent {
    width: 100%;
    padding: 40px 30px 40px 30px;
    margin-bottom: 50px;
    background-color: white;
    background-image: url("images/leather_1.png");
    float: left;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    font-size: 1.2em;
    line-height: 2em;
}

#mainContent p {
    margin: 16px 0px 16px 0px;
    text-indent: 30px;
}

#profilePic {
    width: 200px;
    height: 225px;
    float: left;
    margin: 0px 20px 10px 0px;
}

.thumbnail {
    position: relative;
    margin-bottom: 40px;
    cursor: pointer;
}

.label {
    background-color: #4aaaa5;
    color: #ffffff;
    width: 100px;
    height: 40px;
    font-size: 16px;
    border: none;
    position: relative;
    top: -8px;
}

form {
    width: 100%;
}

textarea {
    resize: none;
    width: calc(100% - 20px);
    font-size: 1em;
    padding: 5px 5px 5px 15px;
}

input {
    width: calc(100% - 20px);
    padding: 5px 5px 5px 15px;
    font-size: .8em;
}

#submitButton {
    background-color: #4aaaa5;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1em;
    width: auto;
    padding: 8px 16px 8px 16px;
    cursor: pointer;
}

#sideBar {
    width: 210px;
    padding: 40px 30px 40px 30px;
    background-color: white;
    box-shadow: 4px 4px 15px 2px #333333;
    float: right;
    margin-bottom: 50px;
}

#sideBar a {
    text-decoration: none;
}

footer, .push {
    height: 80px;
}

footer {
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    line-height: 80px;
    color: #CCCCCC;
    text-align: center;
    position: static;
}
